@charset "utf-8";

body
{
	margin:0;
	padding:0;
	background-color:#747474;
}

header
{
	width:100%;
	height:160px;
	background-color:#494D74;
	margin:0;
	padding:0;
	border-bottom:solid 1px black;
}

header h1
{
	font-family:"Palatino Linotype"; 
	margin-left:2%;
	padding-top:0.25%;
	font-size:45px;
	margin-top:0;
	text-shadow:2px 2px 2px #301E5B;
	color:#EBEBEB;
}

header nav
{
	background-color:#20244B;
	width:70%;
	height:35px;
	text-align:left;
	margin-top:1.5%;
	float:right;
	border-radius:20px 0 0 20px;
}

header nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

header nav ul li
{
	display:inline;
	border-right:solid 1px black;
}

header nav ul li a 
{
	text-decoration:none;
	font-family:"Book Antiqua";
	font-size:20px;
	transition: color 0.5s ease-in-out;
	line-height:35px;
	margin: 0 3.5% 0 3.5%;
	transform:scale(1,5);
	color:#EBEBEB;
}

header nav ul li a:hover
{
	color:#696D8F;
	
}

figure
{
	padding:0;
	margin:0;
}

figure img
{
	max-width:100%;
}

section
{
	background-color:#696D8F;
	width:100%;
	padding-bottom:1px;
}

section h1
{
	font-family:"Book Antiqua"; 
	margin-left:2%;
	padding-top:0.25%;
	font-size:45px;
	margin-top:0;
	color:#EBEBEB;
}

section #imgcont
{
	margin:0 auto;
	width:80%;
}

section #imgcont .shet
{
	padding:0;
	margin:0;
	width:10%;
	float:left;
	margin-right:20%;
}

section #imgcont .shetlast
{
	padding:0;
	margin:0;
	width:10%;
	float:left;
}

section #imgcont .shet img
{
	max-width:100%;
}

section .art1
{
	background-color:#20244B;
	width:80%;
	margin:2.5% auto;
	border-radius:10px;
	box-shadow:10px 10px 20px #454545;
	padding-top:1%;
	color:#EBEBEB;
}

section .art1 h1
{
	width:25%;
	font-size:44px;
	font-family:"Book Antiqua";
	margin-bottom:0;
}

section .art1 .cont
{
	padding-bottom:50px;	
	margin-left:2%;
	width:40%;
	float:left;
}

section .art1 .cont h2
{
	font-size:30px;
	font-family:"Palatino";
}

section .art1 .cont p
{
	font-size:26px;
	font-family:"Serif";
}

section .art1 .shet
{
	float:right;
	padding:0;
	margin-top:-10;
	width:15%;
	margin-right:10%;
}

section .art1 .shet img
{
	max-width:100%;
}

footer
{
	height:200px;
	background-color:#494D74;
	padding-top:1%;
}

footer h1
{
	font-size:40px;
	font-family:"Palatino Linotype";
	margin-top:0;
	margin-left:1%;
	color:#EBEBEB;
}

@media screen and (max-width:1240px)
{
	header
	{
		height:260px;
	}
	header nav
	{
		height:165px;
		width:80%;
		margin-top:-5px;
	}
	header nav ul li
	{
		display:block;
		border-top:solid 1px black;
		padding-top:5px;
	}
	header nav ul .limedia
	{
		border-top:none;
	}
	header nav ul li a
	{
		font-size:16px;
	}
	
}

@media screen and (max-width:480px)
{
	section
	{
		width:100%;
	}
	section h1
	{
		font-size:36px;
		padding-top:10px;
		margin-bottom:-10px;
	}
	section #imgcont
	{
		padding-top:10px;
	}

	section #imgcont .shet
	{
		float:none;
		width:100%;
	}

	section #imgcont .shetlast
	{
		float:none;
		width:100%;
	}
	section #imgcont img
	{
		margin-top:10px;	
	}
	section .art1
	{
		width:100%;
		margin-left:0;
		margin-right:0;
		box-shadow:0px -4px 10px #393535;
		margin-top:30px;
		border-radius:0;
	}
	section .art1 h1
	{
		font-size:34px;
		width:100%;
		text-align:center;
		margin:0;
		padding-top:5%;
	}
	section .art1 .cont
	{
		float:none;
		width:90%;
		text-align:center;
		height:160px;
		display:block;
		margin:0 auto;
	}
	section .art1 .cont h2
	{
		font-size:22px;
	}
	section .art1 .cont p
	{
		font-size:20px;
	}
	section .art1 .shet
	{
		float:none;
		width:80%;
		margin:0 auto;
		display:block;
		padding: 10% 0;
	}

	section .art1 .shet img
	{
		max-width:100%;
		display:block;
	}
	footer h1
	{
		font-size:28px;
		margin-left:10px;
		margin-top:10px;
	}
}

@media screen and (min-width:490px) and (max-width:768px)
{
	section
	{
		
	}
	section h1
	{
		padding:5px;
		font-size:34px;
	}
	section #imgcont
	{
		width:90%;
	}
	section #imgcont .shet
	{
		width:20%;
		margin-right:6.6%;
	}
	section #imgcont .shetlast
	{
		width:20%;
		margin-right:0;
	}
	section #imgcont img
	{
		
	}
	section .art1
	{
		width:90%;
	}
	section .art1 h1
	{
		font-size:30px;
		width:40%;
	}
	section .art1 .cont
	{
		padding-left:10px;
		width:50%;
	}
	section .art1 .cont h2
	{
		font-size:26px;
	}
	section .art1 .cont p
	{
		font-size:20px;
	}
	section .art1 .shet
	{
		width:30%;
	}
	section .art1 .shet img
	{
		margin-top:10%;
	}
	footer
	{
		padding-left:5px;
	}
	footer h1
	{
		font-size:36px;
	}
}
